@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

button {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-gray-800 focus:ring-offset-2 focus:ring-blue-600
}